/* Style page for entire site */
/* Refrence in <head> to style the html */

img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
 }

body {
    background-color: #E0E5E9;
    width: 70%;
    min-width: 800px;
    margin: 0 auto;
 }
 
p {
  text-align: center; 
  color: #191718;
  }

h1 { 
   text-align: center;
  color: #0A62D0;
}

h2 { 
  text-align: center; 
  color: #F3D849;
}

h3 { 
  text-align: center; 
  color: #77dd77;
}

h1.center {
  margin: auto;
  width: 50%;
  border: 3px solid #0A62D0;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  /* background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.giphy.com%2Fmedia%2FXtkvkM4Wc3Nsc%2Fgiphy.gif&f=1&nofb=1); */
  background-image: url('./images/raining.gif'); /* This should look relative to this file because of the ./ */
}

/* This is the blog links, style will change when functionality is resolved */

nav {
  height: 75px;
  flex: 100%;
  display: flex;
}
nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

