/* Style page for entire site */
/* Refrence in <head> to style the html */

img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
 }

body {
    background-color: #E0E5E9;
 }
 
p {
  text-align: center; 
  color: #191718;
  }

h1 { 
  text-align: center; 
  color: #0A62D0;
}

h2 { 
  text-align: center; 
  color: #F3D849;
}

h3 { 
  text-align: center; 
  color: #77dd77;
}


