/* Style page for entire site */
/* Refrence in <head> to style the html */

img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
 }

body {
    background-color: #E0E5E9;
 }
 
p {
  text-align: center; 
  color: #191718;
  }

h1 { 
   
  color: #0A62D0;
}

h2 { 
  text-align: center; 
  color: #F3D849;
}

h3 { 
  text-align: center; 
  color: #77dd77;
}
h1.center {
  margin: auto;
  width: 50%;
  border: 3px solid #0A62D0;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.giphy.com%2Fmedia%2FXtkvkM4Wc3Nsc%2Fgiphy.gif&f=1&nofb=1);
}


